USE [Weather]
GO
/****** Object:  Table [dbo].[JordanCities]    Script Date: 9/11/2021 2:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JordanCities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CitieName] [varchar](255) NOT NULL,
	[Temp_f] [float] NOT NULL,
	[Temp_c] [float] NOT NULL,
	[Lastupdated] [datetime] NOT NULL,
	[Localtime] [datetime] NOT NULL,
 CONSTRAINT [PK__JordanCi__3214EC0757B43DFD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JordanCities] ON 

INSERT [dbo].[JordanCities] ([Id], [CitieName], [Temp_f], [Temp_c], [Lastupdated], [Localtime]) VALUES (93, N'Amman', 87.8, 31, CAST(N'2021-09-10T14:15:00.000' AS DateTime), CAST(N'2021-09-10T14:19:00.000' AS DateTime))
INSERT [dbo].[JordanCities] ([Id], [CitieName], [Temp_f], [Temp_c], [Lastupdated], [Localtime]) VALUES (94, N'Irbid', 85.8, 29.9, CAST(N'2021-09-10T14:15:00.000' AS DateTime), CAST(N'2021-09-10T14:19:00.000' AS DateTime))
INSERT [dbo].[JordanCities] ([Id], [CitieName], [Temp_f], [Temp_c], [Lastupdated], [Localtime]) VALUES (95, N'Madaba', 86, 30, CAST(N'2021-09-10T14:15:00.000' AS DateTime), CAST(N'2021-09-10T14:19:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[JordanCities] OFF
GO
